/* Stylesheet for the HTML page */

/* HTML Styles */
.html {
    background-color: whitesmoke;
}

/* Page Header Container */
.header-container {
    background-color: #643A71;
    height: fit-content(150%);
    width: fit-content(120%);
    border: solid 4px #553160;
    border-radius: 10px;
    position: relative;
}

/* Page Header */
.header h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    text-shadow: 2.5px 2.5px .5px #c7a6d1;
}

/* 'Page Subheader */
.header h4 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-top: -15px;
    text-align: center;
}

/* 'Why a Reference Sheet' Container */
.about-container {
    background-color: #643A71;
    height: auto;
    width: auto;
    border: solid 4px #553160;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    position: relative;
}

/* 'Why a Reference Sheet?' Header */
.about-container h2 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 27px;
    text-align: center;
    margin: 15px;
    text-shadow: 2.5px 2.5px .5px #c7a6d1;
}

/* 'Why a Reference Sheet?' Paragraph */
.about-container p {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

/* 'HTML Tags' Container */
.html-tags-container {
    background-color: #643A71;
    height: auto;
    width: auto;
    border: solid 4px #553160;
    border-radius: 10px;
    margin-block: auto;
    position: relative;
    margin-top: 10px;
}

/* 'HTML Tags' Header */
.html-tags-container h3 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    text-shadow: 2.5px 2.5px .5px #c7a6d1;
}

/* 'HTML Tags' Paragraph */
.html-tags-container p {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    text-align: center;
    margin: auto;
    width: 95%;
}

/* Table-1 */
.table-1 {
    background-color: whitesmoke;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-align: left;
    border: solid 4px #c7a6d1;
    width: 95%;
    margin: auto;
}

/* HTML Table: Header */
.table-1 thead {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    height: 45px;
    background-color: #c7a6d1;
}

/* HTML Table: Header Data */
.table-1 th {
    padding-left: 2px;
    padding-right: 2px;
}

/* HTML Table: Table Data */
.table-1 td {
    border: solid 2.5px #c7a6d1;
    text-align: center;
    padding: 10px 10px;
}

/* HTML Table: Table Rows */
.table-1 tr {
    height: 45px;
    margin: auto;
    width: 100%;
}
   