/* Stylesheet for the HTML page */
/* Listed in order of how it appears on the page */

/* HTML Styles */
.html {
    background-color: whitesmoke;
}

/* Page Header Container */
.header-container {
    background-color: #643A71;
    height: fit-content(150%);
    width: fit-content(120%);
    border: solid 4px #553160;
    border-radius: 10px;
    position: relative;
    box-shadow: 4px 4px #c7a6d1;
}

.header h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    text-shadow: 2.5px 2.5px .5px #c7a6d1;
}

.header h4 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-top: -15px;
    text-align: center;
}

/* Thinking Bubble Container */
.img-container {
    position: relative;
    width: 100%;
    max-width: auto;
    margin: auto;
    z-index: 1;
}

.img-container img {
    position: absolute;
    width: 150px;
    left: 78%;
    top: -8vh;
}

/* 'All Other Containers */
.container {
    background-color: #643A71;
    height: auto;
    width: auto;
    border: solid 4px #553160;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    position: relative;
    box-shadow: 4px 4px #c7a6d1;
}

.container h2 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 27px;
    text-align: center;
    margin: 15px;
    text-shadow: 2.5px 2.5px .5px #c7a6d1;
}

.container p {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.container h3 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    text-shadow: 2.5px 2.5px .5px #c7a6d1;
}

.h5 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    text-align: center;
}

/* Tables */
.table {
    background-color: whitesmoke;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-align: left;
    border: solid 4px #c7a6d1;
    width: 95%;
    margin: auto;
}

.thead {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    height: 45px;
    background-color: #c7a6d1;
}

.th {
    padding-left: 2px;
    padding-right: 2px;
}

.td {
    border: solid 2.5px #c7a6d1;
    text-align: center;
    padding: 10px 10px;
}

.tr {
    height: 45px;
    margin: auto;
    width: 100%;
}

.tbody tr:hover {
    background-color: #4b2b54; 
    color: white;
}

/* Links */
.link {
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 20px;
}

.footer {
    margin: 15px;
}